<div *ngIf='!video'>Loading</div>
<div *ngIf='video'>
    <h1 style="margin-top: -80%; margin-left: 20%; color: blanchedalmond;">{{ video.name }}</h1>

    <div style="position:relative;height:150px; margin-left: 20%; margin-top: 5%; padding-bottom: 30%; " *ngIf='video.embed'>
        <iframe [src]="getEmbedUrl(video) | safe" width="640" height="360" frameborder="0" style="position:absolute;width:70%;height:78%;left:0" allowfullscreen ></iframe>
    </div>
    <div  class='text-center' *ngIf='video.image && !video.embed'>
        <img class='img-responsive img-center' [src]='video.image' alt="{{ video.name }} image" />
    </div>

</div>
