<!DOCTYPE html>
<html>
<head>
<title> MultiConnect</title>
<style>
</style>
</head>
<body>
<div class="mdiv">
<img src="../../assets/images/z2.jpg" style="position:relative;margin-left:96%;width:46.9%;height:477.5px;">

<p class="a3">Multi_Connect videos & Chat</p><br/>
<p class="a1">Enterprise  conferencing with real-time<br>messaging and content sharing</p>

<fieldset class="btn">Sign Up</fieldset>
<input type="text" placeholder="Enter your work Email" class="inp">

</div>

<div class="div2">
<p style="position:relative;top:25px;margin-left:25px;color:black;font-family:Courier New;font-size:30px;font-weight:bold;">
Simplified  conferencing and messaging across any device</p>
<img src="../../assets/images/s1.PNG" style="position:relative;top:65px;margin-left:85px; width:5%;height:70px;">
<p style="position:relative;top:65px;margin-left:35px;color:black;font-family:Courier New;font-size:15px;font-weight:bold;">
Unparalleled usability</p>

<p style="position:relative;top:55px;margin-left:25px;color:black;font-family:Comic Sans MS;font-size:12px;font-weight:bold;">
Enable quick adoption with connect capabilities that<br>make it easy to start, join, and collaborate across any<br>device.</p>
<img src="../../assets/images/s2.PNG" style="position:relative;top:-116px;margin-left:500px;width:5%;height:70px;">

<p style="position:relative;top:-120px;margin-left:405px;color:black;font-family:Courier New;font-size:15px;font-weight:bold;">
Join anywhere, on any device</p>
<p style="position:relative;top:-130px;margin-left:393px;color:black;font-family:Comic Sans MS;font-size:12px;font-weight:bold;">
Multi Connect connecting syncs with your calendar system <br>and delivers streamlined enterprise-grade video<br>conferencing from desktop and mobile.</p>
<img src="../../assets/images/s3.PNG" style="position:relative;top:-299px;margin-left:845px;width:5%;height:70px;">

<p style="position:relative;top:-305px;margin-left:810px;color:black;font-family:Courier New;font-size:15px;font-weight:bold;">
Video for every need</p>
<p style="position:relative;top:-315px;margin-left:790px;color:black;font-family:Comic Sans MS;font-size:12px;font-weight:bold;">
Enable internal and external communications, all-<br>watch videos, and conferencing through one<br>communications platform.</p>
<hr style="position:relative;width:73%;top:-235px;margin-left:-5px;color:black;">
<p style="position:relative;top:-235px;margin-left:260px;color:black;font-family:Courier New;font-size:35px;font-weight:bold;">
Built for modern teams</p>


<img src="../../assets/images/p.png" style="position:relative;top:-165px;margin-left:115px;width:5%;height:70px;">

<p style="position:relative;top:-155px;margin-left:75px;color:black;font-family:Courier New;font-size:15px;font-weight:bold;">
HD video and audio conferencing</p>

<p style="position:relative;top:-155px;margin-left:51px;color:black;font-family:Comic Sans MS;font-size:12px;font-weight:bold;">
Bring HD video and audio call to your <br>with support for up to 1000 video<br>participants and 49 videos on screen.</p>


<img src="../../assets/images/p.png" style="position:relative;top:-345px;margin-left:520px;width:5%;height:70px;">

<p style="position:relative;top:-335px;margin-left:480px;color:black;font-family:Courier New;font-size:15px;font-weight:bold;">
Meet securely</p>

<p style="position:relative;top:-338px;margin-left:420px;color:black;font-family:Comic Sans MS;font-size:12px;font-weight:bold;">
End-to-end encryption for all conferencings, role-<br>based user security, password protection,<br> waiting rooms, and place attendee on hold.</p>


<img src="../../assets/images/p.png" style="position:relative;top:-525px;margin-left:845px;width:5%;height:70px;">

<p style="position:relative;top:-517px;margin-left:828px;color:black;font-family:Courier New;font-size:15px;font-weight:bold;">
Team Chat</p>

<p style="position:relative;top:-517px;margin-left:795px;color:black;font-family:Comic Sans MS;font-size:12px;font-weight:bold;">
Chat with groups, searchable history,<br>integrated file sharing, and 10 year archive.<br>Easily escalate into 1:1 or group calls.</p>

<hr style="position:relative;width:73%;top:-421px;margin-left:-10px;color:black;">


</div>

<div class="div3">
<img src="../../assets/images/z1.png" style="position:relative;top:30px;margin-left:665px;width:51%;height:520px;">

<p style="position:relative;top:-477px;margin-left:53px;color:black;font-family:Courier New;font-size:30px;font-weight:bold;">
Modernize your Conferencing solution</p><br/>

<p style="position:relative;top:-497px;margin-left:45px;color:black;font-family:Comic Sans MS;font-size:14px;font-weight:bold;">
Multi_Connect conferencing for desktop and mobile provides the tools to make every conferencing a<br>great one.</p>

<ul type="disc" style="position:relative;top:-477px;margin-left:45px;color:black;font-family:Comic Sans MS;font-size:13px;font-weight:bold;">
<li>Focus on your conferencing – click record to leave the note taking to Multi_connect auto-<br>generated, searchable transcripts.
<br><br>
<li>Share and play videos with full audio call and video transmit without uploading the content.
<br><br>
<li>Look conferencing-ready with Virtual Backgrounds and Touch Up My Appearance.
</ul>


</div>

<div class="div4">
<img src="../../assets/images/p2.PNG" style="position:relative;top:50px;margin-left:115px;width:25%;height:430px;">

<p style="position:relative;top:-407px;margin-left:363px;color:black;font-family:Courier New;font-size:30px;font-weight:bold;">
A thoughtful approach to mobile conferencing</p>

<p style="position:relative;top:-417px;margin-left:390px;color:black;font-family:Comic Sans MS;font-size:14px;font-weight:bold;">
Today’s mobile professionals need to be able to work and Audio conference wherever they<br>are.Multi_Connect conferencing for mobile provides the same great experience that you’d<br>expect from the desktop client and more.</p>


<ul type ="disc" style="position:relative;top:-407px;margin-left:360px;color:black;font-family:Comic Sans MS;font-size:13px;font-weight:bold;">
<li>Turn on Virtual Backgrounds and select the image of your choice.
<br><br>
<li>Share your screen and co-annotate.
<br><br>
<li>Use Safe Driving Mode or Apple Carplay (iPhone only).
</ul>
</div>
</body>
</html>
