<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Our team Section</title>
  </head>
  <body>
    <section class="team" style="margin-bottom: -21.5666%;">
      <div class="container">
        <div class="row">
          <h1>Our Team</h1>
          <p style=" text-align: justify;">
            Our team is your team. When your mission is to be better, faster and smarter, you need
            the best people diving your vision forward. You need people who can create focused strategies
            that align with goals who can infuse their creativity into groundbreaking compaigns, and
           who can analyze data to be optimize every tactic along the way. You need walker sands. Our team
            provide a best way to communicate with people. You can easily  communicate with your  friends
            and watch a movie and make a conference call.
          </p>
        </div>
        <div class="row mgt50px">
          <div class="column">
            <div class="imgBox">
              <img src="../../assets/images/IMG-20190125-WA0026.jpg" style="height: 300px; width:270px;">
            </div>
            <div class="details">
              <h3>Member name<br><span>MUHAMMAD ABDULLAH</span></h3>
            </div>
          </div>
          <div class="column">
            <div class="imgBox">
              <img src="../../assets/images/IMG-20190125-WA0022.jpg"  style="height: 300px; width:270px;">
            </div>
            <div class="details">
              <h3>Member name<br><span>MEHDI HASSAN</span></h3>

            </div>
          </div>
          <div class="column">
            <div class="imgBox">
              <img src="../../assets/images/IMG-20190125-WA0027.jpg" style="height: 300px; width:270px;">
            </div>
            <div class="details">
              <h3>Member name<br><span>ZAHEER UL DIN BABER</span></h3>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </section>
  </body>
</html>
