<!DOCTYPE html>
<html>
<head><title>Project</title></head>

<style>
</style>
<body>
<div class="back" style="position:relative;width:100%;height:800px;">


<p style="position:relative;top:45px;margin-left:-157px;color:black;font-size:40px;font-family:Comic Sans MS">Legal & Privacy</p><br>

<p style="position:relative;top: 40px; margin-left:-117px;color:black;font-family:Courier New;font-size:21px;font-weight:bold;">
Multi_Connnect is the leading provider of secure, video-first<br>unified communications</p>


<p style="position:relative;top:170px;margin-left:47px;color:black;font-size:40px;font-family:Courier New;font-weight:bold;">Legal</p><br>

<p style="position:relative;top:190px;margin-left:200px;color:black;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
  Welcome to the Multi Legal Center. The information provided here is for ulti users who
</p>
<p style="position:relative;top:183px;margin-left:210px;color:black;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
  have questions about our terms, policies, and compliance. If you have questions please<br>contact us at legal@zoom.us</p>
</div>

<div style="position:absolute;top:682px;width:100%;height:450px;background-color:#f2f2f2;">

<div style="position:relative;width:73%;top:-140px;margin-left:188px;border-radius:5px;height:312px;background-color:white;">

<p style="position:relative;top:15px;margin-left:90px;color:black;font-size:30px;font-family:Courier New;font-weight:bold;">Terms</p>
<br/>
<ul type="disc" style="position:relative;top:-07px;margin-left:70px;color:#0088cc;font-family:Comic Sans MS;font-size:13px;font-weight:bold;">
<li>Terms of Service
<br><br>
<li>Beta Program Terms
<br><br>
<li>App Marketplace Terms of Use
<br><br>
<li>Marketplace Developer
<br><br>
<li>Multi API License and Terms of use
<br><br>
<li>Multi API License and Terms of use
<br><br>
</ul>

<div class="vl"></div>

<p style="position:relative;top:-296px;margin-left:487px;color:black;font-size:30px;font-family:Courier New;font-weight:bold;">Notices and Policies</p>
<br/>
<ul type="disc" style="position:relative;top:-321px;margin-left:467px;color:#0088cc;font-family:Comic Sans MS;font-size:13px;font-weight:bold;">
<li>Acceptable Use Policy
<br><br>
<li>911 US Notice
<br><br>
<li>911 Pakistan Notice
<br><br>
<li>DMCA Policy
<br><br>
<li>Privacy Policy
<br><br>
<li>K-12 Privacy Policy
<br><br>
</ul>

<p style="position:relative;top:-261px;margin-left:47px;color:black;font-size:40px;font-family:Courier New;font-weight:bold;">Privacy</p>

<p style="position:relative;top:-247px;margin-left:53px;color:black;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
Learn how we collect, use, and disclose personal data via our website and services.</p>

</div>


</div>



<div style="position:absolute;top:1132px;width:100%;height:818px;background-color:#e6e6e6;">

<img src="../../assets/images/computer-laptop-work-place-camera-705164.jpeg" style="position:relative;top:0px;margin-left:601px;width:51%;height:440px;">

<img src="../../assets/images/snip.png" style="position:relative;top:-350px;margin-left:100px;width:7%;height:90px;">

<p style="position:relative;top:-345px;margin-left:90px;color:black;font-size:30px;font-family:Courier New;font-weight:bold;">Privacy Practices</p>

<p style="position:relative;top:-340px;margin-left:93px;color:black;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
You trust us to connect you to the people that matter. We<br>value that trust more than anything else. We want you to<br>know what data we collect and how we use it to provide<br>our service.</p>


<img src="../../assets/images/Contact.jpg" style="position:relative;top:-215px;margin-left:0px;width:49%;height:360px;">

<img src="../../assets/images/snip1.png" style="position:relative;top:-360px;margin-left:113px;width:7%;height:90px;">

<p style="position:relative;top:-355px;margin-left:670px;color:black;font-size:30px;font-family:Courier New;font-weight:bold;">Data Processing</p>

<p style="position:relative;top:-343px;margin-left:673px;color:black;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
See the terms that we adhere to when<br>processing customer data and learn about<br>the suppliers that process customer content<br>on our behalf.</p>

</div>


<p style="position:relative;top:810px;margin-left:327px;color:black;font-size:38px;font-family:Courier New;font-weight:bold;">Global Privacy Compliance</p>

<p style="position:relative;top:815px;margin-left:-13px;color:black;text-align:center;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
Multi complies with global privacy frameworks and have implemented data protection and privacy<br>practices into our products and processes.</p>



<fieldset
style="width:15%;height:200px;border:0.3;position:relative;top:820.5px;margin-left:280px;font-family:sans-serif;font-size:20px;color:white;background-color:white;border-radius:7px;">

<p style="position:relative;top:17px;margin-left:5px;color:black;font-size:20px;font-family:Courier New;font-weight:bold;">Privacy Shield</p>

<p style="position:relative;top:8px;margin-left:0px;color:black;text-align:center;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
We are privacy shield certified
to transfer data from the EU to the Pak.</p>


</fieldset>


<fieldset
style="width:15%;height:200px;border:0.3;position:relative;top:600px;margin-left:560px;font-family:sans-serif;font-size:20px;color:white;background-color:white;border-radius:7px;">

<p style="position:relative;top:1px;margin-left:25px;color:black;font-size:20px;font-family:Courier New;font-weight:bold;">Whitepapers and Notices</p>

<p style="position:relative;top:10px;margin-left:0px;color:black;text-align:center;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
Read how Multi_Connnect is compliant with privacy regulations.</p>


</fieldset>


<fieldset
style="width:15%;height:200px;border:0.3;position:relative;top:380px;margin-left:838px;font-family:sans-serif;font-size:20px;color:white;background-color:white;border-radius:7px;">

<p style="position:relative;top:5px;margin-left:25px;color:black;font-size:20px;font-family:Courier New;font-weight:bold;">Cookies</p>

<p style="position:relative;top:8px;margin-left:0px;color:black;text-align:center;font-family:Comic Sans MS;font-size:17px;font-weight:bold;">
Learn how we use cookies on our website and how you can control them.</p>


</fieldset>


<div class="back1" style="position:relative;width:100%; height:250px;background-color:#e6e6e6;">


<p style="position:relative;top:25px;margin-left:32px;color:black;font-size:40px;font-family:Comic Sans MS">About Our Privacy Program</p><br>

<p style="position:relative;top:20px;margin-left:32px;color:black;font-family:Courier New;font-size:16px;font-weight:bold;">Multi's Privacy Team is responsible for the management and development of Mult's<br>external and internal privacy programs, ensuring compliance with US and international<br>privacy regulations, and evaluating the privacy practices of our suppliers.</p>
</div>
</body>
</html>
